*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 375px;
}

.nav {
  background-color: #6BBAD3;
  position: fixed;
  display: inline;
  padding-top: 3px;
  width: 375px;
  height: 64px;
}

.status-bar {
  list-style: none;
  height: 20px;
  padding: 0px 5px 0px 5px;
}

ul.status-bar li {
		display: inline;
	}

#battery {
  float: right;
}

#current-time {
position: absolute;
left: calc(50% - 49px/2 + 1px);
}

.menu {
	height: 84px;
  list-style: none;
  padding-top: 8px;
}

ul.menu li {
		display: inline;
	}

.arrow-left {
  display: inline;
  margin: 0 auto;
  padding: 0px 0px 15px 10px;
  position: absolute;
  left: 4.76%;
  right: 88.42%;
}

.menu-left {
  position: absolute;
  display: inline;
  margin: 0 auto;
  padding: 0px 0px 15px 32px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.menu-right {
  display: inline;
  margin: 0 auto;
  padding: 5px 15px 15px 0px;
  float: right;
}

.location-name {
  position: absolute;
  display: inline;
  left: calc(50% - 158px/2 - 1.5px);
  top: calc(50% - 22px/2 + 10px);

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.map-section {
  margin: 0 auto;
  padding-top: 400px;
  width: 100%;
  background-image: url("../images/Map_L.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

@media screen and (min-width: 675px) {
  .container {
    width: 90%;
  }
  .nav {
    width: 90%;
  }
  .map-section {
    background-size: 100%;
    background-image: url("../images/Map-wide.png");
  }
}


@media screen and (min-width: 1000px) {
  .container {
    width: 90%;
  }
  .nav {
    width: 90%;
  }
  .map-section {
    background-size: 100%;
    padding-top: 500px;
  }
}

.bus-list {
  margin: 0 auto;
  padding-top: 0px;
  width: 100%;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.05);
  border-radius: 25px 25px 0px 0px;
}

.arrow-down {
  position: absolute;
  left: calc(50% - 49px/2 + 1px);
}

.direction {
padding-bottom: 5px;
font-style: normal;
font-weight: 500;
font-size: 1.5em;
line-height: normal;
color: #6BBAD3;
}

/* Bus details section */
ul.bus-first /* individual block */ {
  display: table;
  background: rgba(255,255,255, 0.9);
  padding: 16px;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
}
ul.bus /* individual block */ {
  display: table;
  background: rgba(255,255,255, 0.9);
  padding: 16px;
  border-top: 0.25px solid #BCBBC1;
  width: 100%;
}

ul.details /* number, destination and frequency section */ {
  display: inline-block;
  float: left;
  font-family: 'SF Pro Text', sans-serif;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.0175em;
  color: #0B3C5D;
}

li.bus-number {
  float:left;
  font-weight: bold;
  font-size: 32px;
  line-height: normal;
  color: #0B3C5D;
}

li.destination {
  font-weight: normal;
  font-size: 13px;
  color: #0B3C5D;
}

.clock {
  margin: 0px 5px 0px 30px;
  width: 15px;
}

li.frequency {
  font-weight: 300;
  font-size: 13px;
  padding: 10px 0px 13px 8px;
  display: flex;
  align-items: center;
  color: #5A5A5A;
}

/* Arrival time details section */
ul.time {
  font-family: 'SF Pro Text', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  display: inline-block;
  float: right;
  padding: 10px 0px 0px 0px;
  line-height: normal;
  text-align: right;
  color: #6BBAD3;
}

li.arrival {
font-weight: 300;
font-size: 13px;
padding-top: 3px;
color: #5A5A5A;
}

li.minutes {
  font-weight: 500;
  font-size: 22px;
}

h1 {
  font-size: 2em;
  line-height: normal;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
}

ul.bus-first:hover { background-color:#f3f8fb; }
ul.bus:hover { background-color:#f3f8fb; }
